.navbar {
    margin-bottom: 3rem;
    justify-content: center;
}

.form-group {
    margin:1rem;
}

.btn {
    margin-left:1rem;
}

.footer {
    bottom: 0px;
    position: absolute;
    width:100%;
    /* font-size: small; */
}

/* Hide the registration screen by default */
#register {
    display: none;
}

/* Likewise, hide the "Change Settings" Screen */
#change {
    display: none;
}

#outputbox {
    display: none; /* Hide the output box by default*/
    background-color: #ffc8c8; /* By default, the colour used is for errors*/
    border-radius: 5px;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    padding-left: 1.5rem; /* Align the output text with the forms. */
}

#outputbox.success {
    background-color: #bcffbc; /* Use a different colour on successes */
}