.navbar {
    margin-bottom: 3rem;
}

.form-group {
    margin:1rem;
}

.btn {
    margin-left:1rem;
}

.footer {
    bottom: 0px;
    position: absolute;
    /* font-size: small; */
}

/* Hide the registration screen by default */
#register {
    display: none;
}

/* Likewise, hide the "Change Settings" Screen */
#change {
    display: none;
}